*{
    margin: 0;
    padding: 0;
}
.hero{
        height: 100vh;
        width: 100%;
        background: #fad8ec96;
        font-family: sans-serif;
        position: relative;
    }
    nav{
        width: 80%;
        margin: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 100px;
        cursor: pointer;
        font-family: cursive;
        font-size: 40px;
        padding: 3px 9px;
        border: 5px double #ff4321;
        color: #ff4321;
        border-right-style: none;
        border-bottom-style: none;
        border-radius: 9px;
        transition: .5s;
    }
    .logo:hover{
        border: 5px double #ff4321;
        color: #ff4321;
        border-left-style: none;
        border-top-style: none; 
        transform: scale(.9) rotate(-15deg);
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    nav ul li a{
        text-decoration: none;
        color:#f761a7e3 ;
        font-size: 18px;
        font-weight: 600;
        transition: .5s;
    }
    nav ul li a:hover{
        color: #ff4321;
        font-style: italic;
        font-family: cursive;
        font-size: 30px;
    }
   .info{
       margin-left: 8%;
       margin-top: 15%;

   }
   .info h1{
       font-size: 70px;
       color: #212121;
       margin-bottom: 20px;
   }
   span{
       color: #ff4321;
   }
   
   .info p{
       color:#606163;
       line-height: 29px;
       
   }
   .cv{
       background: #212121;
       padding: 10px 18px;
       text-decoration: none;
       color: #fff;
       display: inline-block;
       margin: 30px 0;
       border-radius: 5px;
       font-weight: 600;
       transition: .5s;
   }
   .cv:hover{
       color: #ff4321;
       background: #ffffff;
       font-family: cursive;
       font-size: 20px;
       transform: scale(1) rotate(16deg);
   }
   .img-box{
       width: 45%;
       height: 80%;
       position: absolute;
       bottom: 0;
       right: 100px;
   }
   .img-box img{
       height: 100%;
       position: absolute;
       left: 50%;
       bottom: 0;
       transform: translateX(-50%);
       transition: bottom 1s,left 1s;
       
   }
   .img-box:hover .back-img{
       bottom: 40px;
   }
   .img-box:hover .main-img{
       left: 54%;
   }
   .social-links{
       margin-left: 8%;
       margin-top: 100px;

   }
   .social-links a{
       font-size: 30px;
       color: #918b8a;
       margin-right: 20px;
   }
   .social-links a:hover{
   
       color: #ff4321;
       
   }